build_sources/*.vala
common_helpers.c
helperrpc.h
helperrpc.vapi
interfaces.c
api.c
caller_info.c
tasklet_system.c
common_skeleton.c
common_stub.c
addr_skeleton.c
addr_stub.c
ntkdrpc.h
ntkdrpc.vapi
Makefile.in
Makefile
ntkdrpc.pc
*.o
*.lo
*.la
.deps
.libs
*.stamp
*.stamp-t
stamp-h1
config.h
config.log
config.status
libtool
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
compile

